/*nav*/

nav{
    height: 75px;
    width: 100%;
    background-color: rbg(2, 121, 229);
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color: rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif
}

.logo{
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 100px;
}

.nav-links{
    display: flex;
    justify-content: space-around;
    width: 50%;
}
.nav-links li{
    list-style: none;
}
.nav-links a{
    color: rgb(10, 8, 8);
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 14px;
}

.burger{
    display: none;
    cursor: pointer;
}

.burger div{
    width: 25px;
    height: 2px;
    background-color: rgb(0, 0, 0);
    margin: 5px;
    transition: all 0.3s ease;
}

@media screen and (max-width: 1024px) {
    .nav_links{
        width: 60%;
    }
}

@media screen and (max-width: 768px) {
    body{
        overflow-x: hidden;
    }
    .nav-links{
        position: absolute;
        right: 0px;
        height: 92vh;
        top: 8vh;
        background-color: rgb(211, 205, 205);
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
    }
    .nav-links li{
        opacity: 0;
    }
    .burger{
        display: block ;
    }
}

.nav-active{
    transform: translateX(0%);
}

@keyframes navLinkFade{
    from{
        opacity: 0;
        transform: translateX(50px);

    }
    to{
        opacity: 1;
        transform: translateX(0px);

    }
}

.toggle .line1{
    transform: rotate(-45deg) translate (-5px, 6px);
}
.toggle .line2{
opacity: 0;
}
.toggle .line3{
    transform: rotate(45deg) translate (-5px, -6px);
}

/* nav slut*/

*{
    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin: 0;
    padding: 0;
    background-color: white;
    padding-bottom: 100px;
    font-family: Arial, Helvetica, sans-serif;
    
  }

  span{
      color: #E9B000;
  }
  
  #kontakt {
    width: 100%;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .section-header {
    text-align: center;
    margin: 0 auto;
    padding: 40px 0;
    font: 30px;
    color: rgb(0, 0, 0);
    text-transform: uppercase;
    letter-spacing: 3px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
  }
  
  .contact-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;
    padding: 20px;
    position: relative;
    max-width: 840px;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  
  .form-horizontal {
    max-width: 400px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    float: left;
  }
  
  .form-control, 
  textarea {
    width: 400px;
    background-color:rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    letter-spacing: 1px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 20px;
    border-color: black;
  }
  
  .send-button {
    margin-top: 15px;
    height: 30px;
    width: 400px;
    overflow: hidden;
    transition: all .2s ease-in-out;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #00909534;
  }
  
  .alt-send-button {
    width: 400px;
    height: 34px;
    transition: all .3s ease-in-out;
  }
  
  .send-text {
    display: block;
    margin-top: 10px;
    font: 700 12px bold;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 2px;
    
  }
  
  .alt-send-button:hover {
    transform: translate3d(0px, -20px, 0px);
  }
  
 
  .direct-contact-container {
    max-width: 400px;
    font-family: Arial, Helvetica, sans-serif;
  }
  

  .contact-list {
    list-style-type: none;
    margin-left: -30px;
    padding-right: 20px;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .list-item {
    line-height: 4;
    color: rgb(2, 2, 2);
  }
  
  .contact-text {
    font: 300 18px bold;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 1.9px;
    color: rgb(0, 0, 0);
  }
  
  .place {
    margin-left: 62px;
  }
  
  .phone {
    margin-left: 56px;
  }
  
  .gmail {
    margin-left: 53px;
  }
  
  .contact-text a {
    color: black;
    text-decoration: none;
    transition-duration: 0.2s;
  }
  
  .contact-text a:hover {
    color: #E24E42;
    text-decoration: none;
  }
  
  
  /* font-awesome */
  .social-media-list {
    position: relative;
    font-size: 22px;
    text-align: center;
    width: 100%;
    margin: 0 auto;
    padding: 0;
  }
  
  .social-media-list li a {
    color: rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
  }
  
  .social-media-list li {
    position: relative; 
    display: inline-block;
    height: 60px;
    width: 60px;
    margin: 10px 3px;
    line-height: 60px;
    border-radius: 50%;
    color: rgb(239, 234, 234);
    background-color: #E9B000;
    cursor: pointer; 
    transition: all .2s ease-in-out;
  }
  
  .social-media-list li:after {
    position: absolute;
    top: 0;
    left: 0;
    width: 60px;
    height: 60px;
    line-height: 60px;
    border-radius: 50%;
    opacity: 0;
    box-shadow: 0 0 0 1px #fff;
    transition: all .2s ease-in-out;
  }
  
  .social-media-list li:hover {
    background-color: #EB6E80; 
  }
  
  .social-media-list li:hover:after {
    opacity: 1;  
    transform: scale(1.12);
    transition-timing-function: cubic-bezier(0.37,0.74,0.15,1.65);
  }
  
  .social-media-list li:hover a {
    color: #000;
  }
  
  .copyright {
    font: 200 14px 'Oswald', sans-serif;
    color: rgb(0, 0, 0);
    letter-spacing: 1px;
    text-align: center;
  }
  
  hr {
    border-color: rgb(0, 0, 0);
  }
  
  /* Begin Media Queries*/
  @media screen and (max-width: 850px) {
    .contact-wrapper {
      display: flex;
      flex-direction: column;
    }
    .direct-contact-container, .form-horizontal {
      margin: 0 auto;
    }  
    
    .direct-contact-container {
      margin-top: 60px;
      max-width: 300px;
    }    
    .social-media-list li {
      height: 60px;
      width: 60px;
      line-height: 60px;
    }
    .social-media-list li:after {
      width: 60px;
      height: 60px;
      line-height: 60px;
    }
  }
  
  @media screen and (max-width: 569px) {
  
    .direct-contact-container, .form-wrapper {
      float: none;
      margin: 0 auto;
    }  
    .form-control, textarea {
      
      margin: 0 auto;
    }
   
    
    .navn, .email, textarea {
      width: 280px;
      font-family: Arial, Helvetica, sans-serif;
    } 
    
    .direct-contact-container {
      margin-top: 60px;
      max-width: 280px;
    }  
    .social-media-list {
      left: 0;
    }
    .social-media-list li {
      height: 55px;
      width: 55px;
      line-height: 55px;
      font-size: 2rem;
    }
    .social-media-list li:after {
      width: 55px;
      height: 55px;
      line-height: 55px;
    }
    
  }
  
  @media screen and (max-width: 410px) {
    .send-button {
      width: 99%;
    }
  }